.title{
    display: flex;
    justify-content: column;
    background-color: white;
}
.box{
    display: flex;
    justify-content: center;
     padding: 50px;
     box-sizing: border-box;
     font-family: 'Poppins',sans-serif;
     background-color: skyblue;
     flex-direction: column;
     margin-left:300px;
     margin-right: 300px;
 }