#bookListBigBox{
    height: fit-content;
    border: 0.2px solid white;
    background-repeat: repeat;
    background-size: 100% 100vh;
    
}
#allList{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
}
.itemBox{
    padding: 2vh;
    margin: 3vh;
    width: 30vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius:1vh ;
    justify-content: center;
    align-items: center;
}




#books{
    width: 20vh;
    height: 20vh;
}