*{
    background-color: cadetblue;
}


.complete{
    display: flex;
    justify-content: center;
     padding: 50px;
     box-sizing: border-box;
     font-family: 'Poppins',sans-serif;
     background-color: skyblue;
     flex-direction: column;
     margin-left:300px;
     margin-right: 300px;
 }
.button{
    width:30px;
    height: 30px;
   
    border-radius: 20px;
    background-color: rgb(233, 24, 9);
    display: flex;
    justify-content: column;
    padding-left: 150px;
    padding-top: 5px;
 
}
.title{
    display: flex;
    justify-content: column;
    background-color: white;
}
.signin{
    font-size: small;
}
 /* .submit{ */
   /* margin:40%;
   background-color: #1b0103; /* Green */
   /* border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   display: inline-block;
   font-size: 16px; */ 


     
 /* } */